[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django-redis = "*"
djangorestframework-simplejwt = "*"
celery = "*"
django-celery-results = "*"
python-magic = "*"
httpx = "*"
channels = "*"
uvicorn = { extras = ["standard"], version = "*" }
gunicorn = "*"
mysql-connector-python = "*"
channels-redis = "*"
apns2 = "*"

[dev-packages]
eventlet = "*"
python-magic-bin = "*"
selenium = "*"

[requires]
python_version = "3.7"
