[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django-redis = "*"
djangorestframework-simplejwt = "*"
celery = "*"
django-celery-results = "*"

[dev-packages]
eventlet = "*"

[requires]
python_version = "3.7"
